{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Reservation {% endblock %}

{% block body %}
    <div id="sub">
        <h2 class="card-body clearfix" style="text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    border: 3px outset #FFFFFF;
    border-radius: 27px;
    background: #2B304D;
    width: fit-content;
    font-size: xxx-large;
    margin-left: auto;
    margin-right: auto;">Reservation</h2>
        <br><br>
        <div class="no-padding    container-fixed-lg bg-white">
            <div class="container" style="box-sizing: content-box">
                <div class="card card-transparent">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover non"  style="background: whitesmoke;margin-top: 0px">
                                <thead>
                                <tr>
                                    <th style="width:20%"><label>Office</label></th>
                                    <th style="width:20%"><label>Date</label></th>
                                    <th style="width:20%"><label>Lieu</label></th>
                                    <th style="width:20%"><label>Nb de Places</label></th>
                                </tr>
                                <tbody>
                                {% set cmt ="" %}
                                {% for cle,val in subs %}
                                    {% for key,off in office %}
                                        {% if cle==key%}
                                            <tr style="font-size: larger">
                                            <td class="v-align-middle">
                                                <label class="no-padding no-margin" >
                                                    {{ off.title }}
                                                </label>
                                            </td>
                                            <td class="v-align-middle">
                                                <label class="no-padding no-margin">
                                                    {{ off.date}}  {{ off.hour? off.hour|date('H:i') : ''    }}
                                                </label>
                                            </td>
                                            <td class="v-align-middle">
                                                <label class="no-padding no-margin" >
                                                    {{ off.lieu }}
                                                </label>
                                            </td>
                                            <td class="v-align-middle">
                                                <label class="no-padding no-margin" >
                                                    {{ val }}
                                                </label>
                                            </td>
                                            {% if off.comment %} {% set cmt = 1%} {% else %} {% set cmt=0 %}{% endif %}
                                        {% endif %}


                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <label style="font-weight:bold ">Pas d'office selectionné</label>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                        <form method="post" action="{{ path('sub_confirm',{'subs': subs }) }}">

                            <table class="table table-hover non" id="basicTable"  style="background: whitesmoke">
                                <thead>
                                <tr>
                                    <th style="width:20%"><label>Nom</label></th>
                                    <th style="width:25%"><label>Prénom</label></th>
                                    <th style="width:25%"><label>Email</label></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-size: larger">
                                        <td>
                                            <label class="no-padding no-margin" style="border: 2px inset rgba(68,68,68,0.56); padding: 4px;">
                                                <input name="nom" type="text" required  placeholder="Votre Nom" style="width: 10em" >
                                            </label>
                                        </td>
                                        <td>
                                            <label class="no-padding no-margin" style="border: 2px inset rgba(68,68,68,0.56); padding: 2px;">
                                                <input name="prenom" type="text" required placeholder="Votre Prénom" style="width: 10em" >
                                            </label>
                                        </td>
                                        <td>
                                            <label class="no-padding no-margin" style="border: 2px inset rgba(68,68,68,0.56); padding: 2px;">
                                                <input name="email"  type="email" required placeholder="Votre Email" >
                                            </label>
                                        </td>
                                        {% if cmt %}

                                        <td>
                                            <label class="no-padding no-margin" style="border: 2px inset rgba(68,68,68,0.56); padding: 4px;">
                                                <input name="comment" type="text" required  placeholder="Précisions / Commentaire" style="width: 16em" >
                                            </label>
                                        </td>

                                    {% endif %}

                                    </tr>

                                </tbody>
                                </table>

                                <div style=" margin:10px">
                                    <label style="color:whitesmoke; font-size: large;">
                                        <input class="btn btn-outline-primary" type="submit" name="confirm" value="Valider">
                                    </label>
                                </div>




                        </form>

                    </div>
                </div>
        </div>
    </div>
{% endblock %}