{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Reservation {% endblock %}

{% block body %}
    <div id="sub">
        <h2 class="input100" id="inscr">Reservations</h2>
        <br><br>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <br>
                        <form method="post" action="{{ path('sub_confirm',{'subs': subs }) }}">
                            {% for key,nb in subs %}

                                <table class="table" style="background: whitesmoke">
                                <thead>
                                <tr class="table100-head">
                                    <th class="column1"><label style="color: yellow">Office</label></th>
                                    <th class="column2"><label>Nom</label></th>
                                    <th class="column2"><label>Prénom</label></th>
                                    <th class="column3"><label>Email</label></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in 1..nb %}
                                    <tr style="font-size: larger">
                                        <td class="column1 non" style="text-transform: capitalize">
                                            <label>
                                                {% for cle,valeur in office %}{% if cle==key%} {{ valeur.title }} - {{ valeur.lieu}} - {{ valeur.date}} {{ valeur.hour? valeur.hour|date('G:i') : ''   }} {% endif %}{% endfor %}
                                            </label>
                                        </td>
                                        <td class="column2 non">
                                            <label style="border: 4px inset rgba(68,68,68,0.56); padding: 4px;">
                                                <input name="nom_{{ key }}_{{ i }}" type="text"  placeholder="Votre Nom" style="width: 100%;">
                                            </label>
                                        </td>
                                        <td class="column3 non">
                                            <label style="border: 4px inset rgba(68,68,68,0.56); padding: 2px;">
                                                <input name="prenom_{{ key }}_{{ i }}" type="text"  placeholder="Votre Prénom"  style="width: 100%;">
                                            </label>
                                        </td>
                                        <td class="column3 non">
                                            <label style="border: 4px inset rgba(68,68,68,0.56); padding: 2px;">
                                                <input name="email_{{ key }}_{{ i }}"  type="email"  placeholder="Votre Email"  style="width: 100%;">
                                            </label>
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6">Pas de reservation séléctionée</td>
                                </tr>
                                </tbody>
                                </table>
                            {% endfor %}

                            <button class="btn input100" style=" background: black; width: auto;position: fixed;
                            bottom: 5px;font-size: large;margin:10px">
                                <input style="color:whitesmoke; background: black" type="submit" name="confirm" value="Valider">
                            </button>
                        </form>

                    </div>
                </div>
        </div>
    </div>
{% endblock %}