{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Modifer{% endblock %}

{% block body %}


    <div>

        <div class="wrap-contact100">
            <h1 style="font-family: Raleway-SemiBold; color: #555555;line-height: 1.5;text-transform: capitalize;width: 100%;padding-bottom: 11px;text-align: center">Modifier l'Office</h1>
            {{ form_start(form, {'attr':{'class':'contact100-form validate-form'}}) }}
            <label class="label-input100" for="title">Office : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.title,{'attr':{'class':'input100'}}) }}
            </div>
            <label class="label-input100" for="date">Date : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.date,{'attr':{'class':'input100'}}) }}
            </div>
            <label class="label-input100" for="hour">Heure : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.hour,{'attr':{'class':'input100'}}) }}
            </div>
            <label class="label-input100" for="paracha">Paracha : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.paracha,{'attr':{'class':'input100'}}) }}
            </div>
            <label class="label-input100" for="lieu">Lieu : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.lieu,{'attr':{'class':'input100'}}) }}
            </div>
            <label class="label-input100" for="placemax">Place Max : </label>
            <div class="wrap-input100 rs1 validate-input">
                {{ form_widget(form.maxSub,{'attr':{'class':'input100'}}) }}
            </div>


            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						<span>
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
                </button>
            </div>
            {{ form_end(form) }}
            <br>
            <button class="btn input100" style="background: whitesmoke; width: auto; margin-right: 5px; font-size: large" ><a href="{{ path('office_admin', { 'admin':admin }) }}">Revenir aux offices</a></button>
            <br>
            <button class="btn input100" style="background: whitesmoke; width: auto; margin-right: 5px; font-size: large"><a href="{{ path('office_delete', {'id': office.id, 'admin':admin }) }}">Supprimer</a></button>

        </div>
    </div>




{% endblock %}
