{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <div id="sub">
        <h2 class="card-body clearfix" style="text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    border: 3px outset #FFFFFF;
    border-radius: 27px;
    background: #2B304D;
    width: fit-content;
    font-size: xxx-large;
    margin-left: auto;
    margin-right: auto;">Inscriptions</h2>
        <br><br>
        <div class="no-padding    container-fixed-lg bg-white">
            <div class="container" style="box-sizing: content-box">
                <div class="card card-transparent">
                    <div class="card-header ">
                        <div class="card-title">

                            {% if admin=="ben" or admin=="ravdayan" %}
                                <button class="btn btn-complete" style="color:white;font-size: large;
                                display: inline; margin-right:5px; margin-bottom: 10px;  " >
                                    <a style="opacity: 1;" href="{{ path('office_new', {'admin': admin}) }}">
                                        Ajouter un office
                                    </a>
                                </button>
                                <button class="btn btn-complete" style="color:white; width: auto; font-size: large;
                                display: inline; margin-right:5px; margin-bottom: 10px; " >
                                    <a style="opacity: 1;" href="{{ path('office_list', {'admin': admin}) }}">
                                        Imprimer liste
                                    </a>
                                </button>
                                <button class="btn btn-complete" style="color:white; width: auto; font-size: large;
                                display: inline; margin-right:5px; margin-bottom: 10px; " >
                                    <a  style="opacity: 1;" href="{{ path('office_sub', {'admin': admin}) }}">
                                        Voir les inscrits
                                    </a>
                                </button>

                            {% endif %}
                        </div>
                        <br>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="post" action="{{ path('sub') }}">
                                <table class="table table-hover" id="basicTable" style="background: whitesmoke">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">Date</th>
                                            <th style="width:20%">Heure</th>
                                            <th style="width:20%">Paracha</th>
                                            <th style="width:20%">Lieu</th>
                                            <th style="width:20%">Office</th>
                                            <th style="width:20%">Nombres de places</th>
                                            <th style="width:20%">Places Restantes</th>
                                            <th style="width:20%">Vos places</th>
                                            {% if admin=="ben" or admin=="ravdayan" %}<th style="width:20%">Action</th>{% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for office in offices %}

                                            <tr style="font-size: larger">
                                                <td class="v-align-middle"><label class="no-padding no-margin">
                                                        {% for cle,valeur in dateo %}{% if cle==office.id%} {{ valeur }} {% endif %}{% endfor %}
                                                    </label></td>
                                                <td class="v-align-middle">{{ office.hour? office.hour|date('H:i') : ''   }}</td>
                                                <td class="v-align-middle">{{ office.paracha }}</td>
                                                <td class="v-align-middle">{{ office.lieu }}</td>
                                                <td class="v-align-middle">{{ office.title }}</td>
                                                <td class="v-align-middle">{{ office.maxSub }}</td>
                                                <td class="v-align-middle">{% for cle,valeur in max %}{% if cle==office.id %} {{ valeur }}{% endif %}{% endfor %} </td>
                                                <td class="v-align-middle">
                                                    <label class="no-padding no-margin" style="border: solid black 2px; padding: 2px">
                                                        <input type="number" placeholder="0" name="{{ office.id }}" style="text-align: right;" min="0" max="{% for cle,valeur in max %}{% if cle==office.id %}{{valeur}}{% endif %}{% endfor %}">
                                                    </label>
                                                </td>
                                                {% if admin=="ben" or admin=="ravdayan" %}<td class="v-align-middle">
                                                    <a href="{{ path('office_show', {'id': office.id, 'admin':admin }) }}">Detail</a><br>
                                                    <a href="{{ path('office_edit', {'id': office.id, 'admin':admin}) }}">Modifier</a><br>
                                                    <a href="{{ path('office_delete', {'id': office.id, 'admin':admin}) }}">Supprimer</a>
                                                </td>{% endif %}
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="v-align-middle"  colspan="6">Pas d'office</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                    <input type="submit" class="btn btn-outline-primary" style="font-size: large; position: relative;margin: auto;margin-top: 10px" value="Reservez">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="login-container bg-white">

            <div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <div class="col-sm-9 no-padding m-t-10">
                        
                    </div>
                </div>
            </div>

    </div>


{% endblock %}

