{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <div id="welcome">
        <h1>Beth Hamidrach - Kol Yaacov</h1>
    </div>
    <div id="img">
    </div>
    <br><br>
    <div id="sub">
        <h2 class="input100" id="inscr">Inscriptions</h2>
        <br><br>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        {% if admin=="ben" or admin=="ravdayan" %}
                            <button class="btn input100" style="background: whitesmoke; width: auto; font-size: large;
                            display: inline; margin-right:5px; margin-bottom: 10px;  " >
                                <a href="{{ path('office_new', {'admin': admin}) }}">
                                    Ajouter un office
                                </a>
                            </button>
                            <button class="btn input100" style="background: whitesmoke; width: auto; font-size: large;
                            display: inline; margin-right:5px; margin-bottom: 10px; " >
                                <a href="{{ path('office_list', {'admin': admin}) }}">
                                    Imprimer liste
                                </a>
                            </button>
                        {% endif %}
                        <br>
                        <form method="post" action="{{ path('sub') }}">
                        <table class="table" style="background: whitesmoke">
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Date</th>
                                    <th class="column2">Heure</th>
                                    <th class="column1">Lieu</th>
                                    <th class="column3">Office</th>
                                    <th class="column4">Nombres de places</th>
                                    <th class="column5">Places Restantes</th>
                                    <th class="column6">Vos places</th>
                                    {% if admin=="ben" or admin=="ravdayan" %}<th class="column5">Action</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody>

                                {% for office in offices %}

                                    <tr style="font-size: larger">
                                        <td class="column1" style="text-transform: capitalize"><label>
                                                {% for cle,valeur in dateo %}{% if cle==office.id%} {{ valeur }} {% endif %}{% endfor %}
                                            </label></td>
                                        <td class="column2">{{ office.hour? office.hour|date('G:i') : ''   }}</td>
                                        <td class="column3">{{ office.lieu }}</td>
                                        <td class="column3">{{ office.title }}</td>
                                        <td class="column4">{{ office.maxSub }}</td>
                                        <td class="column5">{% for cle,valeur in max %}{% if cle==office.id %} {{ valeur }}{% endif %}{% endfor %} </td>
                                        <td class="column6"><label><input type="number" placeholder="0" name="{{ office.id }}" style="text-align: right;width: 100%;" min="0" max="{% for cle,valeur in max %}{% if cle==office.id %}{{valeur}}{% endif %}{% endfor %}"></label></td>
                                        {% if admin=="ben" or admin=="ravdayan" %}<td style="text-align: center;">
                                            <a href="{{ path('office_show', {'id': office.id, 'admin':admin }) }}">Detail</a><br>
                                            <a href="{{ path('office_edit', {'id': office.id, 'admin':admin}) }}">Modifier</a><br>
                                            <a href="{{ path('office_delete', {'id': office.id, 'admin':admin}) }}">Supprimer</a>
                                        </td>{% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">Pas d'office</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn input100" style="background: whitesmoke; width: auto; font-size: large; position: relative;margin: auto" ><input type="submit" value="Reservez"></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

