{% block title %} Confirmation d'inscription {% endblock %}

{% block body %}
    <div class="valid">
        <h1 style="text-transform: capitalize">
            Bonjour {{ prenom }} {{ nom }}
        </h1>
        <br>
        <p>
            Voici votre inscription :
            <br>
            <ul>
            {% for c,value in sub %}
                <li>
                    {% for key,off in office %}
                       {% if key==value%} {{ off.title}} {{ off.date}} {{ off.hour? off.hour|date('H:i') : ''    }}  {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
            <br>
            Merci de venir à l'heure et de respecter les règles sanitaires 😷
            <br>
            A bientot 👋

        </p>
    </div>

{% endblock %}