{% block body %}
    <div class="valid">
        <h3 style="text-transform: capitalize">
            Bonjour {{ sub.prenom }} {{ sub.nom }}
        </h3>
        <p>
            Votre inscription pour l'office de <label style="text-transform: capitalize"> {{ office.title }}</label> {% if office.lieu == Ahalim %} à {% else%}au {% endif%} <label style="text-transform: capitalize"> {{ office.lieu}}</label> a bien été prise en compte.
            <br>
            Merci de venir à {{ office.hour? office.hour|date('G:i') : ''   }} et de respecter les règles sanitaires 😷
            <br>
            A bientot 👋
        </p>
    </div>
{% endblock %}